<% content_for :head do %>
  <%= javascript_include_tag "/js/highcharts.js" %>
<% end %>

<div class='budget-graphic' id='<%= id %>'></div>
<script>
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: '<%= id %>',
         defaultSeriesType: 'line',
         marginRight: 130,
         marginBottom: 25,
		 borderColor: 'white',
		backgroundColor: 'white'
      },
      title: {
         text: '<%=title%>',
         x: -20 //center
      },
      subtitle: {
         text: 'Fuente: Ministerio de educación',
         x: -20
      },
      xAxis: {
         categories: <%= raw months.inspect %>
      },
      yAxis: {
         title: {
            text: 'Pesos ($)'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': $'+ this.y;
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: -10,
         y: 100,
         borderWidth: 0
      },
      series: [{
         name: '<%=@university.name%>',
         data: <%= raw money.map { |m| m.to_i }%>
      }]
   });  
});
</script>
