
  <%= form_for(@university_search) do |f| %>
    <div class="all-form">

    <% if @university_search.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@university_search.errors.count, "error") %> prohibited this university_search from being saved:</h2>

        <ul>
        <% @university_search.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="new-form-fields">
        <%= f.text_field :university_name, :placeholder => "Nombre de la Universidad", :id => "ui-autocomplete-input" %>
      </div>


       <script>
        $(function() {
        

          var availableTags = [];

          <% @universities.each do |u| %>
             availableTags.push("<%=u.alias%>");
          <% end %>
          $( "#ui-autocomplete-input" ).autocomplete({
            source: availableTags
          });
        });
      </script>


      <div class="new-form-submit-image">
        <%= f.submit "Buscar",:id=>"search-university-btn", :class=>"university-btn" %>
      </div>
  </div>
  <% end %>

