<div class="wrapped">
	<div class="show-form">
		<%= render 'form' %>
	</div>
	<div class="container">
		<div class="top">
			<div class="map">
				<%= image_tag @university.map %>
				<div class="clear"></div>
			</div>
			<div class="map">
				<%= image_tag @university.logo, :width=>"250"%>
			</div>
			<div class="main-info">
				<div class="university-name">
					<span>
						<%= @university.alias %>
					</span>
				</div>
				<div class="university-address">
					<span>
						<%= @university.address%>
					</span>
				</div>
				<div>
					<span>
						Rector de la universidad - <%= @university.rector%>
					</span>
				</div>
				<div>
					<span>
						Cantidad de estudiantes - <%= @university.students%>
					</span>
				</div>
			</div>	
			<div class="clear"></div>
		</div>
		<div class="bottom">
			<%= render :partial=> "/shared/graphic", :locals => { :money => @money, :months => @months, :title => 'Presupuesto mensual', :id => 'presupuestos'}%>
			
			<%= render :partial=> "/shared/graphic", :locals => { :money => @salaries, :months => @months, :title => 'Salarios', :id => 'salarios'}%>
			
			<div class='desertion_relation' id='desertion_relation'></div>
<script>
var chart;
<% if @students_enrollment %>
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'desertion_relation',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Tasa de deserción por carrera.'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               color: Highcharts.theme.textColor || '#000000',
               connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
               }
            }
         }
      },
       series: [{
         type: 'pie',
         name: 'Tasa de deserción',
         data: [
             <% @students_enrollment.each do |st| %>
               ["<%= st.career %>", <%= st.desertion_relation %>],
             <% end %>
         ]
      }]
   });
});
</script>
<% end %>
		
		
		
		
		
		
		
		
		
		</div>
	</div>
	<div class="clear"></div>
</div>
